
.product-detail-button{
    margin-top: 10px;
    text-align: center;

}

.product-detail-button button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;

}

.product-detail-button button:hover {
    background-color: #0b4b8f;
}
.product-detail {
    display: block;
    margin-left: 300px;
}

.product-detail h4 {
    font-size: 19px;
    color: #696969;
}

.product-detail-container{
    margin-bottom: 50px;
}

.py-4 {
    padding-top: 0 !important;
}

.chinhh{
    color:#0056b3;
    margin-left: 45px;
}
.col-12 {
    padding-left: 50px;
}