* {
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(1, 11, 50, 1) 30%,
            rgba(23, 40, 101, 1) 47%,
            rgba(110, 121, 175, 1) 81%,
            rgba(235, 230, 225, 1) 100%);
    padding-left: 40px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    /* font-family: 'Times New Roman', Times, serif; */
}

li .nav-link {
    color: #f0f8ff;
    padding-left: 15px !important;
    padding-right: 20px !important;
    border-radius: 30px;
    /* font-family: 'Times New Roman', Times, serif; */
}

a {
    color: #0d19fd;
    text-transform: uppercase;
}

li .nav-link:hover {
    border: 1px solid white;
    background-color: aliceblue;
    opacity: 0.5;
    color: #0000ff;
    transition: background-color 0.75s opacity 0.75s;
}

.container .nav-link:focus {
    color: #0000ff;
    border: 1px solid white;
    background-color: aliceblue;
    opacity: 0.5;
}

footer {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #f0f8ff;
    background-image: url(../img/bg_ft.jpg);
    background-color: black;
    background-position: left;
    background-size: 88% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    right: 0;
    left: 0;
}

.footer-container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.footer {
    width: 33.3%;
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: left;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    left: 26%;
    top: 100%;
    width: 0;
    height: 2px;
    background: aqua;
    transition-duration: 0.5s;
}

.list li:hover::before {
    width: 70px;
}

.list li a {
    text-decoration: none;
    text-transform: initial;
    color: #004aad;
}

.list li a:hover {
    color: aqua;
}

.right,
.left {
    padding-top: 45px;
}

.left p {
    color: #004aad;
}

.footer-content p {
    width: 320px;
    padding-left: 33px;
}

.middle {
    padding-top: 15px;
}

.right-content {
    width: 300px;
}

body {
    padding-top: 92px;
}

.right-content svg {
    color: rgba(17, 162, 252, 0.726);
}

.col-md-3.text-end a {
    text-decoration: none;
}

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 185px;
    z-index: 1;
    right: -113%;
    top:152%;
    text-align: center;
    height: 100px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -33px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dr-content {
    right: -21%;
    position: relative;
    color: #f9f9f9;
    width: 100px;
    top: -23px;
    height: 33px;
}

.item-cart{
    padding: 7px;
    width: 40px;
    height: 40px;
}

svg.bi.bi-person {
    width: 33px;
    height: 32px;
}



a.item.cart-color:hover {
    color: #05f3ff;
}

span.cart-notice:hover {
    border: 1px solid #05f3ff;
}
.cart-notice {
    border: 1px solid blue;
    border-radius: 30px;
    padding: 0 3px 0 3px;
    position: relative;
    top: -8px;
    left: -22px;
    background-color: #93a8d7;
    font-size: 14px;
    font-weight: 600;
}

.dropdown.account {
    margin-right: 30px;
}
